.recipe-details-wrapper {
  margin: 100px;
  border-radius: 4px;
  .color-gold{
    color: #f7af31;
  }

  .image-holder {
    height: 300px;
    width: 100%;
    background-color: grey;
    background-image: url("../../Assets/28-Cheese.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
  }
  .content {
    padding: 100px;
    .btn-back {
      background-color: #f7af31;
      border: none;
      border-radius: 4px;
      color: #ffffff;
    }
  }
}
