.nav-layout {
  background-color: #f7af31;
  button {
    height: 45px;
    width: 100px;
    font-size: 20px;
    font-weight: 500;
    background: #fff;
    color: #f7af31;
    border-radius: 4px;
    border: none;
  }
  .btn-login {
    height: 45px;
    width: 100px;
    font-size: 20px;
    font-weight: 500;
    background: #f7af31;
    color: #ffffff;
    border-radius: 4px;
    border: none;
  }

}
